@import 'includes';

.games-content{
	display:block;
	padding:20px;
}

.add-btn{
	display: inline-block;
	@include position(fixed, null 20px 20px null);
}

h2 {
	padding: 10px;
}

mat-table mat-row {
	cursor: pointer;

	&:hover {
		background-color: #f9f9f9;
	}
}
