<form name="new-game">
	<md-form-field>
		<input mdInput [(ngModel)]="newGame.title" name="title" placeholder="Title" required />
	</md-form-field>

	<md-checkbox [(ngModel)]="newGame.played" name="played">Played</md-checkbox>

	<md-select [(ngModel)]="newGame.platform" name="platform" placeholder="Platform" required>
		<md-option *ngFor="let platform of platforms" [value]="platform.key">
			{{ platform.title }}
		</md-option>
	</md-select>

	<button md-button (click)="dialogRef.close(newGame)">Save</button>
	<button md-button (click)="dialogRef.close(null)">Cancel</button>
</form>
