<ctlg-navbar></ctlg-navbar>

<div class="mat-typography">
	<mat-sidenav-container>
		<mat-sidenav class="mat-elevation-z2" #sidenav mode="side" opened="true">
			<mat-nav-list>
				<mat-list-item routerLink="games" routerLinkActive="active">
					<mat-icon mat-list-icon color="accent">gamepad</mat-icon>
					<h4 matLine>Games</h4>
				</mat-list-item>
				<mat-list-item routerLink="profile" routerLinkActive="active">
					<mat-icon mat-list-icon color="accent">person</mat-icon>
					<h4 matLine>Profile</h4>
				</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>

		<router-outlet></router-outlet>
	</mat-sidenav-container>
</div>
