@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~normalize.css/normalize.css';
@import '~/../src/sass/includes';

html,
body,
#container,
ctlg-root {
	@include size(100% 100%);
}

body {
	margin: 0;
	padding: 0;
}

ctlg-root {
	display: block;
}

#container {
	* {
		box-sizing: border-box;
	}

	a {
		text-decoration: none;
	}
}
