@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

@import '~normalize.css';
@import '~/../src/sass/includes';

html,
body,
#container,
app-root{
	@include size(100% 100%);
}

body{
	margin:0;
	padding:0;
}

app-root{
	display:block;
}

#container{
	*{
		box-sizing:border-box;
	}

	a{
		text-decoration:none;
	}
}
